.execute-items-wrapper {
    background: whitesmoke;
    display: block;
    min-height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.execute-item {
    height: 40px;
    padding-top: 20px;
    font-family: sans-serif;
}

.execute-item.done {
    text-decoration: line-through;
}

.execute-item.executing {
    background: #F0F8FF;
    border: 1px dotted red;
}
